<div [@routerTransition]>
    <div class="panelbar-wrapper">
        <kendo-panelbar>
            <kendo-panelbar-item [title]="'MyReservations'">
                <ng-template kendoPanelBarContent>
                <kendo-grid
                [kendoGridBinding]="MyReservations"
                [pageSize]="10"
                [pageable]="true"
                [sortable]="true"
                [filterable]="true"
                [groupable]="true"
                [height]="510">
                <kendo-grid-column field="CompanyName" [width]="140"></kendo-grid-column>
                <kendo-grid-column field="ContactName" [width]="120"></kendo-grid-column>
                <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
                <kendo-grid-column field="ContactTitle" [width]="130"></kendo-grid-column>
            </kendo-grid>
            </ng-template>
            </kendo-panelbar-item>
            <kendo-panelbar-item [title]="'Container Search / Reserve'">
                <ng-template kendoPanelBarContent>
                    <form class="user">
                        <div class="form-group row">
                            <div class="col-sm-3 mb-3 mb-sm-0">
                                <label style="color: #e74a3b;">Teritory</label> 
                                <!-- <input class="form-control" id="Teritory"> -->
                                    <kendo-dropdownlist  class="form-control" 
                                    [data]="territoryListData" [textField]="'name'" [value]="selectedTerritory"
                                    [valueField]="'id'"
                                    [defaultItem]="defaultTerritory" (valueChange)="handleTerritoryChange($event)" 
                                    name = "territory">
                                    </kendo-dropdownlist>
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Markets</label> 
                                <!-- <input class="form-control" id="Markets"> -->
                                <kendo-dropdownlist  class="form-control" 
                                [disabled]="isDisabledMarket" [value]="selectedMarket"
                                [defaultItem]="defaultMarket" [data]="dataResultMarkets"
                                [textField]="'name'"
                                [valueField]="'marketId'" (valueChange)="handleMarketChange($event)"
                                name = "market">
                                </kendo-dropdownlist>
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Sub Markets</label> 
                                <!-- <input class="form-control" id="SubMarket"> -->
                                <kendo-dropdownlist  class="form-control"  [defaultItem]="defaultSubMarket"
                                [data]="dataResultSubMarkets" [disabled]="isDisabledSubMarket"
                                [value]="selectedSubMarket"
                                [textField]="'name'"
                                [valueField]="'subMarketId'" (valueChange)="handleSubMarketChange($event)" name="subMarket">
                                </kendo-dropdownlist>
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Local Market</label> <input
                                    class="form-control" id="localMarket" name="localMarket" [(ngModel)]="containerForm.localMarket">
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Container Code</label> <input
                                    class="form-control" id="containerCode" name="containerCode" [(ngModel)]="containerForm.containerCode">
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Buyer</label> <input
                                    class="form-control" id="buyer" name="buyer" [(ngModel)]="containerForm.buyer">
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Project ID</label> <input
                                    class="form-control" id="projectId" name="projectId" [(ngModel)]="containerForm.projectId">
                            </div>
                            <div class="col-sm-3">
                                <label style="color: #e74a3b;">Search Key</label> <input
                                    class="form-control" id="searchKeyId" name="searchKeyId" [(ngModel)]="containerForm.searchKey">
                            </div>

                            <div class="col-sm-3">
                                <label style="width: 100%;">&nbsp;</label>
                                 <!-- <a href="" id="get"
                                    class="btn btn-danger btn-user btn-block d-lg-inline" (click)="searchClick()">
                                    Search </a>  -->
                                    <button  class="btn btn-danger btn-user btn-block d-lg-inline" style="width:40%" type="submit"
                                            (click)="containerSearch()">Search</button>

                            </div>

                        </div>
                    </form>
                    <kendo-grid
                    [kendoGridBinding]="containers"
                    [pageSize]="5"
                    [pageable]="true"
                    [sortable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    [height]="350">
                    <kendo-grid-column field="containerCode" title="Container Code" [width]="240"></kendo-grid-column>
                    <kendo-grid-column field="pslc" title="pslc" [width]="100"></kendo-grid-column>
                    <kendo-grid-column field="fuzeProjectId" title="Fuze ProjectId" [width]="100"></kendo-grid-column>
                    <kendo-grid-column field="catsStatus" title="Cats Status" [width]="130"></kendo-grid-column>
                    <kendo-grid-column field="psproject" title="PS Project" [width]="130"></kendo-grid-column>
                    <kendo-grid-column field="localMarket" title="Local Market"  [width]="130"></kendo-grid-column>
                </kendo-grid>
                </ng-template>
               
            </kendo-panelbar-item>
            <kendo-panelbar-item [title]="'Container Details'" (click)="containerDetails()" >
                <ng-template kendoPanelBarContent >

                    
                    <kendo-grid
                    [kendoGridBinding]= "containerInfoDetails"
                    [resizable]="true"
                    [pageSize]="10"
                    [pageable]="true"
                    [sortable]="true"
                    [filterable]="true"
                    [groupable]="true"
                    [height]="310">
                    <kendo-grid-column field="containerCode" title="Container Code" [width]="240"></kendo-grid-column>
                    <kendo-grid-column field="poName" title="PO Name" [width]="240"></kendo-grid-column>
                    <kendo-grid-column field="territory" title="Territory" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="projectName" title="Project Name" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="pslc" title="pslc" [width]="100"></kendo-grid-column>
                    <kendo-grid-column field="useBy" title="UseBy Date" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="fuzeStatus" title="Fuze Status" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="catsStatus" title="Cats Status" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="market" title="Market" [width]="180"></kendo-grid-column>
                    <kendo-grid-column field="localMarket" title="Local Market" [width]="180"></kendo-grid-column>
                </kendo-grid>
                </ng-template>
                    </kendo-panelbar-item>
            <kendo-panelbar-item [title]="'Container Reserve / UnReserve'" >
                <ng-template kendoPanelBarContent>
                <div>
										
                    <div class ="container-fluid">
                    <div class="row">
                    <div class="col-sm-12">
                     <div class="Header-content">
                    <div class="d-inline">Reservation Details</div>
                    <div class="d-inline text-right rightButton">
                        <button class="btn btn-danger btn-user btn-block custombuttonRefresh" id="reFreshFunc">Refresh &nbsp;<i class="fa fa-arrow-right"></i></button>
                    </div>
                     
                     </div>
                     </div>
                    </div>
                     <div class="row">
                    
<div class="col-sm box-styles">
Container Code:<span class="paddinglt-5" id="containerCode_1"></span>
</div>
<div class="col-sm box-styles">
Business Unit:   <span class="paddinglt-5" id="BusinessUnit"></span>
</div>
<div class="col-sm box-styles">
Location Detail Code: <span class="paddinglt-5" id="LocationDetailCode"></span>
</div>
<div class="col-sm box-styles">
Location Name: <span class="paddinglt-5" id="LocationName"></span>
</div>
</div>

<div class="row">


<div class="col-sm-4 no-padding">
<div class="Header-content">Fuze Details</div>	
<div class="card">
                      
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fuze Reservation id:<span class="paddinglt-5" id="fuzeReservationId"></span></li>
                    <li class="list-group-item">Reservation Creation Date:<span  class="paddinglt-5" id="reservationCreationDate"></span></li>
                   
                  </ul>
                        </div>
                         <div class="Header-content">Reserve for:</div>
                         <div class="card">
                      
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <form id="formData">
<div class="form-row">
<div class="col">
Reserve for:
</div>
<div class="col">
<input type="text" class="form-control paddinglt-5"  id="reservedUsername">
</div>
</div>
</form>
                    
                   </li>
                    </ul>
                    </div>	
</div>
<div class="col-sm-8 no-padding">
<div class="Header-content">Reuse Project Details</div>
<div class="row">
<div class="col-sm no-padding">
<div class="card">
                          
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><form id="formData">
<div class="form-row">
<div class="col">
Use At PS Location:
</div>
<div class="col">
<input type="text" class="form-control"   id="useAtPslc">
</div>
</div>
</form></li>
                    <li class="list-group-item">
                    
                    <form id="formData">
<div class="form-row">
<div class="col">
USe At PS Project:
</div>
<div class="col">
<input type="text" class="form-control paddinglt-5" id="usePsProject123" value="">
</div>
</div>
</form>
                    
                   </li>
                    <li class="list-group-item">
                    <form id="formData">
<div class="form-row">
<div class="col">
Use By Date:
</div>
<div class="col">
<input type="text" class="form-control paddinglt-5"  id="useByDate">
</div>
</div>
</form>
                    
                   </li>
                    <li class="list-group-item">
                    
                              <form id="formData">
<div class="form-row">
<div class="col">
Fuze Project ID:
</div>
<div class="col">
<input type="text" class="form-control paddinglt-5"  id="fuzeProjectId123" value="">
</div>
</div>
</form>
                  </li>
                  </ul>
                        </div>
</div>
<div class="col-sm no-padding">
<div class="card">
<ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <form id="formData">
<div class="form-row">
<div class="col">
PS Project Status:
</div>
<div class="col">
<span class="paddinglt-5"  id="psProjectStatus"></span>
</div>
</div>
</form>
                    
                    
                    </li>
                    <li class="list-group-item">
                     <form id="formData">
<div class="form-row">
<div class="col">
PS Project effective Date:
</div>
<div class="col">
<span  class="paddinglt-5" id="psProjectDate"></span>
</div>
</div>
</form>
                    
                    
                   </li>
                    <li class="list-group-item">
                    
                    <form id="formData">
<div class="form-row">
<div class="col">
PS Project Description:
</div>
<div class="col">
<span class="paddinglt-5"  id="psDescription"></span>
</div>
</div>
</form>
                    
                   </li>
                    <li class="list-group-item">
                    
                    <form id="formData">
<div class="form-row">
<div class="col">
PSLC Description:
</div>
<div class="col">
<span class="paddinglt-5"  id="pslcDesc"></span>
</div>
</div>
</form>
                    
                   </li>
                  </ul>
</div>
</div>
</div>
<div class="Header-content">Reservation Bypass Details</div>
<div class="row">
<div class="col-sm no-padding">
<div class="card">
<ul class="list-group list-group-flush">
                    <li class="list-group-item">
                     <form id="formData">
<div class="form-row">
<div class="col">
Pass By Reason :
</div>
<div class="col">
<input type="text" class="form-control paddinglt-5"  id="fuzeProjectId">
</div>
</div>
</form>
                    
                   </li>
                    </ul>
                    </div>
                    </div>
                    <div class="col-sm no-padding">
<div class="card">
<ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <form id="formData">
<div class="form-row">
<div class="col">
TUI Code:
</div>
<div class="col">
<input type="text" class="form-control"  id="TUICode">
</div>
</div>
</form>
                    
                    </li>
                    </ul>
                    </div>
                    </div>
</div>
</div>

</div>

<div class="row">
<div class="col-sm-12">
<div class="Header-content">Reservation Notes:</div>
<div class="form-group">
<textarea rows="2" cols="2" class="form-control" id="reservationNotes"></textarea>
</div>
</div>


</div>


<div class="row">
<div class="col-sm-12">
<div class="Header-content">Reservation Comments</div>
<div class="form-group">
<textarea rows="6" cols="2" class="form-control field-height" id="reservationComments"></textarea>
</div>
</div>


</div>
<div class="row">
<div class="col-sm-11">
</div>
<div class="col-sm-1">
<div class="text-right"><button class="btn btn-danger btn-user btn-block custombuttonRefresh"  onclick="isReserve()" id="isReserve"> &nbsp; <i class="fa fa-arrow-right"></i></button></div>
</div>


</div>

</div>	

                        
                    </div>
                </ng-template>           
            </kendo-panelbar-item>
        </kendo-panelbar>
    </div>
</div>
